<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">


        <div class="row bg-light text-dark mt-4 ">
          <h4>Have you not found the right one? <br>
            Find a service suitable for you here.</h4>
    
        </div>
    
        <div class="row bg-light text-dark p-3 mt-4">
          <h2 class="category"><i class="bi bi-airplane"></i></h2>
          <h4 class="category">FLIGHTS</h4>
          <h2 class="category"><i class="bi bi-train-lightrail-front-fill"></i></h2>
          <h4 class="category"> CHARTER TRAIN</h4>
          <h2 class="category"><i class="bi bi-bus-front-fill"></i></h2>
          <h4 class="category">BUS</h4>
          <h2 class="category"><i class="bi bi-train-front-fill"></i></i></h2>
          <h4 class="category"> TOURIST TRAIN</h4>
        </div>
      </div><!--footer end-->
    
    
</body>
</html>