<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="Description" content="IRCTC Next Generation eTicketing System">
    <meta name="theme-color" content="#213d77">
    <title>IRCTC Next Generation eTicketing System</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link async="async" rel="stylesheet" as="style"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <meta name="theme-color" content="#1976d2">
    <script> window._izq = window._izq || []; window._izq.push(["init"]); </script>
</head>

<body>

    <script src="../static/static/js/bootstrap.min.js"></script>
    <script src="../static/static/js/propper.js"></script>

    <div class="container">

        <div class="container">
            <div class="row">
                <div class="mt-4">
                    {% include 'header_train.html' %}
                </div>
            </div>
        </div>


        <div class="container ">
            <div class="row">
                <div class="col-md-12  bg-light text-dark">
                    <div class="col-md-12 clearfix margin-top"></div>
                    <div role="contentinfo" id="divMain" class="header-top" style="min-height: calc(100vh - 400px);">
                        <div style="background: #ffffff;">
                            <app-train-list>
                                <div class="col-sm-9 col-xs-12" style="padding: 0px 15px 15px 0px;">
                                    <div class="tbis-div">
                                        <div tabindex="0" class="hidden-xs"
                                            aria-label="Result for and displayed for your query"><span>
                                                {{ trains|length }}
                                                Results for <strong> {{fromStn|upper}} <span
                                                        class="glyphicon glyphicon-arrow-right"></span> {{toStn|upper}}
                                                    |
                                                    {{journeyDate}}
                                                </strong> For Quota | General </span></div>
                                        <div class="col-xs-12 clearfix" style="margin-top: 15px;">
                                        </div>

                                        <form id='bookingForm' method="post" action="/book_ticket">
                                            {% csrf_token %}
                                            <input type="hidden" id="seletedClass" name="seletedClass" value="">
                                            <input type="hidden" id="trainContext" name="trainContext" value="">
                                            <input type="hidden" id="arrivalTime" name="arrivalTime" value="">
                                            <input type="hidden" id="sourceStn" name="sourceStn" value="">
                                            <input type="hidden" id="destStn" name="destStn" value="">
                                            <input type="hidden" id="jDate" name="jDate" value="">
                                            <input type="hidden" id="tFare" name="tFare" value="">
                                            <input type="hidden" id="tStatus" name="tStatus" value="">
                                            <input type="hidden" id="tCount" name="tCount" value="">



                                            <!--forloop start-->
                                            {% for i in trains %}
                                            <div>
                                                <div>

                                                    <app-train-avl-enq>
                                                        <div class=" border-all">

                                                            <div class="col-sm-5 col-xs-11 train-heading"><strong>
                                                                    {{i.trainName|upper}}
                                                                    ({{i.trainNo}})</strong>
                                                            </div>

                                                            <div class="col-xs-12 clearfix" style="margin-top: 0px;">
                                                            </div>
                                                            <div class="no-pad col-xs-12" style="padding: 12px 0;">
                                                                <div class="col-xs-5 hidden-xs">
                                                                    <span class="time">
                                                                        <strong>{{i.arrivalTime}}
                                                                            | </strong>
                                                                    </span> {{i.source|upper}} | {{journeyDate}}
                                                                </div>
                                                                <div class="col-xs-7 hidden-xs">
                                                                    <span
                                                                        class="glyphicon glyphicon-arrow-right"></span><span
                                                                        class="col-xs-3 pull-left  line-hr"></span>
                                                                    <span class="pull-right">
                                                                        {{i.destination|upper}} </span>
                                                                </div>

                                                                <div class="col-xs-12 clearfix">
                                                                </div>

                                                            </div>

                                                            <div class="col-xs-12 clearfix">
                                                            </div>
                                                            <div>
                                                                <div class="col-xs-12" style="overflow-x: auto;">
                                                                    <table>
                                                                        <tr>
                                                                            <td
                                                                                style="padding-right: 3px; padding-bottom: 3px;">

                                                                                <div class="mb-3">
                                                                                    {% if i.sleeperAvailable == 0 %}
                                                                                    <button
                                                                                        class="sleeperClssBtn btn btn-primary"
                                                                                        data-value="Sleeper"
                                                                                        data-train-context="{{i.trainNo}}|{{i.trainName}}"
                                                                                        data-train-arr="{{i.arrivalTime}}"
                                                                                        data-train-src="{{i.source}}"
                                                                                        data-train-dest="{{i.destination}}"
                                                                                        data-train-jDate=" {{journeyDate}}"
                                                                                        data-fare=" {{i.sleeperPrice}}"
                                                                                        data-tStatus=" WL"
                                                                                        data-tCount=" {{i.sleeperWaiting}}"
                                                                                        type="button">Sleeper(SL)<br>
                                                                                        WL{{i.sleeperWaiting}}<br>
                                                                                        ₹{{i.sleeperPrice}}
                                                                                    </button>

                                                                                    {% else %}
                                                                                    <button
                                                                                        class="sleeperClssBtn btn btn-primary"
                                                                                        data-value="Sleeper"
                                                                                        data-train-context="{{i.trainNo}}|{{i.trainName}}"
                                                                                        data-train-arr="{{i.arrivalTime}}"
                                                                                        data-train-src="{{i.source}}"
                                                                                        data-train-dest="{{i.destination}}"
                                                                                        data-train-jDate=" {{journeyDate}}"
                                                                                        data-fare=" {{i.sleeperPrice}}"
                                                                                        data-tStatus=" AVL"
                                                                                        data-tCount=" {{i.sleeperAvailable}}"
                                                                                        type="button">Sleeper(SL)<br>
                                                                                        AVL{{i.sleeperAvailable}}<br>
                                                                                        ₹{{i.sleeperPrice}}</button>

                                                                                    {% endif %}

                                                                                </div>
                                                                            </td>

                                                                            <td
                                                                                style="padding-right: 3px; padding-bottom: 3px;">
                                                                                <div class="mb-3">
                                                                                    {% if i.acAvailable == 0 %}

                                                                                    <button
                                                                                        class="acClssBtn btn btn-success"
                                                                                        data-value="AC"
                                                                                        data-train-context="{{i.trainNo}}|{{i.trainName}}"
                                                                                        data-train-arr="{{i.arrivalTime}}"
                                                                                        data-train-src="{{i.source}}"
                                                                                        data-train-dest="{{i.destination}}"
                                                                                        data-train-jDate=" {{journeyDate}}"
                                                                                        data-fare=" {{i.acPrice}}"
                                                                                        data-tStatus=" WL"
                                                                                        data-tCount=" {{i.acWaiting}}"
                                                                                        type="button">
                                                                                        AC 3 Tier (3A)<br>
                                                                                        WL{{i.acWaiting}}<br>
                                                                                        ₹{{i.acPrice}}</button>

                                                                                    {% else %}

                                                                                    <button
                                                                                        class="acClssBtn btn btn-success"
                                                                                        data-value="AC"
                                                                                        data-train-context="{{i.trainNo}}|{{i.trainName}}"
                                                                                        data-train-arr="{{i.arrivalTime}}"
                                                                                        data-train-src="{{i.source}}"
                                                                                        data-train-dest="{{i.destination}}"
                                                                                        data-train-jDate=" {{journeyDate}}"
                                                                                        data-fare=" {{i.acPrice}}"
                                                                                        data-tStatus=" AVL"
                                                                                        data-tCount=" {{i.acAvailable}}"
                                                                                        type="button">
                                                                                        AC 3 Tier (3A)<br>
                                                                                        AVL{{i.acAvailable}}<br>
                                                                                        ₹{{i.acPrice}}</button>

                                                                                    {% endif %}


                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <button type="submit"
                                                                                    class="bookNowbtn pull-left btn btn-warning"
                                                                                    style="display: none;">
                                                                                    Book Now </button>

                                                                            </td>
                                                                        </tr>

                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <script>
                                                            document.addEventListener('DOMContentLoaded', function () {
                                                                var sleeperButtons = document.querySelectorAll('.sleeperClssBtn');
                                                                var acButtons = document.querySelectorAll('.acClssBtn');
                                                                var bookNowButtons = document.querySelectorAll('.bookNowbtn');
                                                                var seletedClassInput = document.getElementById('seletedClass');
                                                                var trainContextInput = document.getElementById('trainContext');
                                                                var trainArrTimeInput = document.getElementById('arrivalTime');
                                                                var trainSrcInput = document.getElementById('sourceStn');
                                                                var trainDestInput = document.getElementById('destStn');
                                                                var trainJdateInput = document.getElementById('jDate');
                                                                var tFareInput = document.getElementById('tFare');
                                                                var tStatusInput = document.getElementById('tStatus');
                                                                var tCountInput = document.getElementById('tCount');
                                                                var bookingForm = document.getElementById('bookingForm');

                                                                sleeperButtons.forEach(function (button) {
                                                                    button.addEventListener('click', function () {
                                                                        var value = this.getAttribute('data-value');
                                                                        var trainContextValue = this.getAttribute('data-train-context');
                                                                        var trainArrValue = this.getAttribute('data-train-arr');
                                                                        var trainSrcValue = this.getAttribute('data-train-src');
                                                                        var trainDestValue = this.getAttribute('data-train-dest');
                                                                        var trainJdateValue = this.getAttribute('data-train-jDate');
                                                                        var tFareValue = this.getAttribute('data-fare');
                                                                        var tStatusValue = this.getAttribute('data-tStatus');
                                                                        var tCountValue = this.getAttribute('data-tCount');

                                                                        seletedClassInput.value = value;
                                                                        trainContextInput.value = trainContextValue;
                                                                        trainArrTimeInput.value = trainArrValue;
                                                                        trainSrcInput.value = trainSrcValue;
                                                                        trainDestInput.value = trainDestValue;
                                                                        trainJdateInput.value = trainJdateValue;
                                                                        tFareInput.value = tFareValue;
                                                                        tStatusInput.value = tStatusValue;
                                                                        tCountInput.value = tCountValue;
                                                                        console.log("trainContextValue ", trainContextValue)
                                                                        toggleBookNowButton(this);
                                                                    });
                                                                });

                                                                acButtons.forEach(function (button) {
                                                                    button.addEventListener('click', function () {
                                                                        var value = this.getAttribute('data-value');
                                                                        var trainContextValue = this.getAttribute('data-train-context');
                                                                        var trainArrValue = this.getAttribute('data-train-arr');
                                                                        var trainSrcValue = this.getAttribute('data-train-src');
                                                                        var trainDestValue = this.getAttribute('data-train-dest');
                                                                        var trainJdateValue = this.getAttribute('data-train-jDate');
                                                                        var tFareValue = this.getAttribute('data-fare');
                                                                        var tStatusValue = this.getAttribute('data-tStatus');
                                                                        var tCountValue = this.getAttribute('data-tCount');

                                                                        trainContextInput.value = trainContextValue;
                                                                        seletedClassInput.value = value;
                                                                        trainArrTimeInput.value = trainArrValue;
                                                                        trainSrcInput.value = trainSrcValue;
                                                                        trainDestInput.value = trainDestValue;
                                                                        trainJdateInput.value = trainJdateValue;
                                                                        tFareInput.value = tFareValue;
                                                                        tStatusInput.value = tStatusValue;
                                                                        tCountInput.value = tCountValue;
                                                                        console.log("trainContextValue ", trainContextValue)
                                                                        toggleBookNowButton(this);
                                                                    });
                                                                });

                                                                function toggleBookNowButton(clickedButton) {
                                                                    var parentItem = clickedButton.closest('tr');
                                                                    var bookNowButton = parentItem.nextElementSibling.querySelector('.bookNowbtn');
                                                                    bookNowButtons.forEach(function (button) {
                                                                        button.style.display = 'none';
                                                                    });
                                                                    bookNowButton.style.display = 'inline-block';
                                                                }


                                                            }); 
                                                        </script>

                                                    </app-train-avl-enq>

                                                </div>

                                            </div>
                                            {% endfor %}

                                        </form>
                                        <!--forloop end-->



                                        <div class="col-xs-12 clearfix" style="margin-top: 5px;">
                                        </div>

                                        <div class="col-xs-12 clearfix" style="margin-top: 5px;">
                                        </div>
                                        <div class="text-center form-group" id="div-gpt-ad-8445850-0"></div>
                                    </div>
                                </div><p-overlaypanel appendto="body" class="ng-tns-c99-19"></p-overlaypanel>
                            </app-train-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>


</html>